<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configurations</title>
    <link rel="stylesheet" href="https://unpkg.com/98.css">
</head>
<body style="background-color:#c0c0c0;">
<div class="window" style="width: 400px">
    <div class="title-bar">
        <div class="title-bar-text">Configurations</div>
        <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Close"></button>
        </div>
    </div>
    <div class="window-body">
        <a href="/start">
            <button>Start</button>
        </a>
        <a href="/stop">
            <button>Stop</button>
        </a>
        <a href="/add">
            <button>Add</button>
        </a>
        <a href="/config">
            <button>Config</button>
        </a>
        <a href="/graph">
            <button>Graph</button>
        </a>
    </div>
</div>
</body>
</html>