<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stop</title>
    <link rel="stylesheet" href="https://unpkg.com/98.css">
</head>
<body style="background-color:#c0c0c0;">
<div class="window" style="width: 400px">
    <div class="title-bar">
        <div class="title-bar-text">Stop</div>
        <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Close"></button>
        </div>
    </div>
    <div class="window-body">
        <form action="{{ url_for('stop')}}" method="post">
            <div class="field-row">
                <input id="name" name="name" type="text"/>
                <label for="name">Data Source</label>
            </div>
            <input type="submit"/>
        </form>
    </div>
</div>
</body>
</html>